
body {
  margin: 0;
  font-family: 'Akaya Telivigala', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Akaya Telivigala', cursive !important
}
